<!-- FOOTER -->
<footer>
    <div class="footer-class">
        <div class="logo-footer">
            <img src="../Images/logo-black.png">
        </div>

        <div class="contact-footer">
            <p>CONTACT</p>
            <p class="contact-text">
                <a href="mailto:maisondhalia@gmail.com">maisondhalia@gmail.com</a>
            </p>
            <p class="contact-text" >(514) 555-5555</p>
        </div>

        <div class="infos-footer">
            <a href="/">ACCUEIL</a>
            <a href="/a-propos">À PROPOS</a>
            <a href="/livraison">LIVRAISON</a>
        </div>

        <div class="politiques-footer">
            <a href="/politique-retour">POLITIQUE DE RETOUR</a>
            <a href="/politique-confidentialite">POLITIQUE DE CONFIDENTIALITÉ</a>
            <a href="/conditions">CONDITIONS GÉNÉRALES DE VENTE</a>
        </div>
    </div>
 </footer>
