<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>

    <div class="text-propos">
        <h2> À PROPOS</h2>
        <p> Bienvenue chez Maison Dhalia, où l'élégance rencontre l'art.
            Fondée au cœur de Paris, Maison Dhalia est une maison de mode de luxe
            dédiée à redéfinir la sophistication intemporelle grâce à des designs innovants et un savoir-faire irréprochable.
        </p>

        <h3>Notre Histoire</h3>
        <p>
            Maison Dhalia a commencé comme un rêve—celui de célébrer l’individualité tout en honorant les traditions de la haute couture.
            Créée en 2010 par la visionnaire Amélie Dhalia, la marque s’est rapidement imposée pour son engagement à créer des pièces
            qui transcendent les tendances et embrassent l’art de l’expression personnelle.
            
            D’un atelier boutique niché dans le quartier du Marais, Maison Dhalia est devenue une icône mondiale,
            illuminant les podiums de Paris, Milan et New York.
            Chaque collection raconte une histoire, inspirée par l’art, l’architecture et la beauté du monde naturel.
        </p> 
            
        <h3>Notre Philosophie</h3>
        <p>
            Chez Maison Dhalia, nous croyons que le luxe n’est pas seulement un produit. C’est une expérience.
            Chaque pièce est méticuleusement conçue à partir des matériaux les plus nobles, avec un souci particulier pour la durabilité et des pratiques éthiques.
            Notre objectif est de créer des vêtements et des accessoires qui non seulement dégagent une élégance absolue, mais respectent également le monde qui nous entoure.
            Nous cherchons à donner à nos clients la confiance d’embrasser leur unicité, grâce à des designs qui allient innovation moderne et raffinement classique.
            Qu’il s’agisse d’une robe de soirée sur mesure, d’un accessoire emblématique ou d’un essentiel du quotidien, chaque création de Maison Dhalia témoigne de l’art de la couture.
        </p>

        <h3>Notre Engagement</h3>    
        <p>
            Chez Maison Dhalia, luxe et durabilité vont de pair.
            Nous sommes engagés à réduire notre impact environnemental en utilisant des tissus éco-responsables, en promouvant des pratiques de travail équitables et en soutenant des artisans du monde entier.
            Chaque décision que nous prenons est guidée par une vision d’un avenir plus beau et responsable.
        </p>

        <h3>Rejoignez Notre Univers</h3>
        <p>
            Plongez dans l’univers de Maison Dhalia et découvrez la beauté du luxe intemporel.
            Que ce soit en explorant nos boutiques phares, en faisant vos achats en ligne ou en assistant à la magie de nos défilés,
            nous vous invitons à devenir une partie de notre histoire.
            
            Chez Maison Dhalia, le luxe n’est pas qu’une déclaration, c’est un art de vivre.</p>
        </p>
    </div>

    <%- include("../partials/footer.ejs") %>
</body>
</html>