<!DOCTYPE html>
<html lang="fr">

<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>

            <!-- CONNEXION -->
            <div class="connexion-contenant">
                <form action="/forgot-password" method="POST" id="forgotForm">    
                    <h1 class="titre-password">Mot de passe oublié</h1>

                    <!-- EMAIL -->
                    <div class="forgot-password-form">
                        <label id="connexionText-i" for="courriel" style="font-size: 130%;">Entrez votre courriel</label> <br>
                        <input type="email" id="email" name="email" class="input-email" required>
                    </div>
                    

                    <!-- BUTTON -->
                    <div class="button-container">
                        <button type="submit" id="btnEnvoyer" style="width: 300px;">Envoyer le lien</button>
                        
                        <a href="/connexion" class="lien-inscription">Connexion ici</a>
                    </div>
                </form>

            </div>
            <%- include("../partials/footer.ejs") %>
    </body>



    <script>
        document.getElementById("forgotForm").addEventListener("submit", function(e) {
            e.preventDefault();

            const email = document.getElementById("email").value;
            const btn = document.getElementById("btnEnvoyer");

            btn.disabled = true;
            btn.textContent = "Envoi en cours...";

            fetch("/forgot-password", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ email })
            })
            .then(res => res.text())
            .then(date => {
                btn.textContent = "Lien envoyé!";
            })
            .catch(err => {
                btn.disabled = false;
                btn.textContent = "Erreur. réessayez";
                console.error("Erreur: ", err);
            });
        });
    </script>


</html>