<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>

    <div class="text-livraison">
        <h2>Politique de Livraison</h2>
        <h4>Chez Maison Dhalia, nous nous engageons à offrir un service de livraison rapide, fiable et adapté à vos besoins. Voici tous les détails concernant notre politique de livraison.</h4>
        
        <h3>Zones de Livraison</h3>
        <p> Nous livrons dans plusieurs pays à travers le monde afin de rendre nos créations accessibles au plus grand nombre. <br>
            Nos principales zones de livraison incluent:
        <ul>
            <li><strong>Canada</strong> (toutes les provinces et territoires)</li>
            <li><strong>États-Unis</strong> (toutes les états)</li>
        </ul>
        Si votre pays ne figure pas dans la liste, veuillez nous contacter à maisondhalia@gmail.com pour vérifier la disponibilité.
        </p>
        
        <h3>Délais de Traitement et de Livraison</h3>
        <h4>Traitement de la commande</h4>
        <p>Toutes les commandes sont préparées avec soin dans un délai de 1 à 3 jours ouvrables suivant la confirmation de votre achat.</p>
        
        <h4>Délais de livraison estimés</h4>
        <ul>
            <li><strong>Canada :</strong> 2 à 5 jours ouvrables</li>
            <li><strong>États-Unis :</strong> 4 à 7 jours ouvrables</li>
        </ul>
       
        <p><strong>Note:</strong> Ces délais peuvent varier en cas de périodes de forte activité, comme les soldes ou les fêtes.</p>
       
        <h3>Modes de Livraison</h3>
        <p>Nous proposons plusieurs options de livraison pour répondre à vos besoins:</p>
        <ul>
            <li>
                <strong>Livraison standard:</strong> Une option économique avec des délais modérés.
            </li>
            <li>
                <strong>Livraison express:</strong> Recevez votre commande sous 1 à 3 jours ouvrables.
            </li>
        </ul>
    
        <h3>Suivi de Commande</h3>
        <p>Une fois votre commande expédiée, vous recevrez un e-mail contenant un numéro de suivi. Ce numéro vous permettra de suivre votre colis en temps réel via le site de notre transporteur partenaire.</p>
        
        <h3>Frais de Livraison</h3>
        <p>Les frais de livraison dépendent de la mode de livraison choisi. Voici une estimation:</p>
        <ul>
            <li>
                <strong>Livraison standard :</strong> Gratuit
            </li>
            <li>
                <strong>Livraison express :</strong> À partir de 15 CAD.
            </li>
        </ul>
    
        <h3>Problèmes de Livraison</h3>
        <p>Si vous rencontrez un problème avec la livraison de votre commande (retard, colis endommagé, etc.), notre service client est à votre disposition pour vous aider. <br>
            Contactez-nous à <strong>maisondhalia@gmail.com</strong> ou au <strong>(514) 555-5555</strong>.</p>
        
        <h3>Notre Engagement</h3>
        <p>Nous mettons tout en œuvre pour que vos achats arrivent rapidement et dans un état impeccable. Votre satisfaction est notre priorité.</p>
    
        <p>Merci de choisir Maison Dhalia. Si vous avez des questions supplémentaires concernant notre politique de livraison, n’hésitez pas à nous contacter!</p>
    </div>   
    
    <%- include("../partials/footer.ejs") %>

</body>
</html>