<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>

    <div class="text-retour">
        <h2>Politique de Retour</h2>
        <p>Chez <strong>Maison Dhalia</strong>, nous souhaitons que vous soyez pleinement satisfait de vos achats. Si, pour une raison quelconque, vous n’êtes pas entièrement satisfait, nous offrons une politique de retour simple et transparente.</p>

        <h3>Conditions de Retour</h3>
        <ul>
            <li>Les articles doivent être retournés dans un délai de <strong>14 jours</strong> suivant la réception de votre commande.</li>
            <li>Les articles doivent être <strong>non portés, non lavés</strong> et dans leur <strong>état d’origine</strong>, avec toutes les étiquettes attachées.</li>
            <li>Les retours de <strong>produits personnalisés</strong> ou d’articles en <strong>vente finale</strong> ne sont pas acceptés.</li>
        </ul>

        <h3>Procédure de Retour</h3>
        <ol>
            <li><strong>Contactez notre service client :</strong> Envoyez un e-mail à <em>maisondhalia@gmail.com</em> en mentionnant votre numéro de commande et la raison du retour.</li>
            <li><strong>Recevez votre étiquette de retour :</strong> Une étiquette de retour prépayée vous sera envoyée par e-mail (pour les commandes éligibles).</li>
            <li><strong>Expédiez votre retour :</strong> Déposez votre colis dans un point de service du transporteur indiqué.</li>
            <li><strong>Traitement du retour :</strong> Une fois que nous aurons reçu et inspecté l’article, un remboursement ou un échange sera traité sous <strong>5 à 7 jours ouvrables</strong>.</li>
        </ol>

        <h3>Frais de Retour</h3>
        <p>Les frais de retour sont à la charge du client, sauf en cas de réception d’un article défectueux ou incorrect. Si vous utilisez notre étiquette de retour prépayée, les frais de transport seront déduits du montant remboursé.</p>

        <h3>Remboursements</h3>
        <ul>
            <li>Les remboursements seront effectués sur le <strong>mode de paiement original</strong> utilisé lors de l'achat.</li>
            <li>Les frais de livraison initiaux ne sont <strong>pas remboursables</strong>.</li>
        </ul>

        <h3>Articles Défectueux ou Incorrects</h3>
        <p>Si vous avez reçu un article endommagé ou incorrect, veuillez nous contacter dans un délai de <strong>48 heures</strong> après réception de votre commande. Nous veillerons à résoudre le problème rapidement, sans frais supplémentaires pour vous.</p>

        <br>
        <p>Nous vous remercions d’avoir choisi Maison Dhalia et espérons que votre expérience d’achat répondra à toutes vos attentes !</p>
    </div>
    
    <%- include("../partials/footer.ejs") %>
</body>
</html>